.data_div {
	width: 70vw;
	overflow: hidden;
	display: flex;
	margin: 0.7rem;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.4s;
}
.data_div:hover {
	scale: 1.05;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
}

.data_div1 {
	width: 30vw;
	height: 14rem;
}
.data_div1 > img {
	margin: 0.5rem;
	width: 29vw;
	height: 13rem;
	object-fit: cover;
	border-radius: 8px;
}

.data_div2 {
	margin: 0.7rem;
	width: 40vw;
}
.data_div2 > h2 {
	font: 600 1.2rem sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.data_div2 > p {
	font: 400 1rem sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}

.launch_btn {
	width: 5rem;
	cursor: pointer;
	margin: 0.2rem 0.3rem;
	padding: 0.15rem;
	color: var(--color-secondary);
	background-color: var(--color-primary);
	border: none;
}
.noLaunchTXT {
	color: var(--color-primary);
	font: 400 1.5rem sans-serif;
}

#data_contentID {
	margin-top: 0.5rem;
	font: 400 1rem sans-serif;
}

@media screen and (max-width: 900px) {
	.data_div {
		width: 80vw;
		margin: 0.7rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.data_div1 {
		width: 75vw;
		height: 25rem;
	}
	.data_div1 > img {
		/* margin: 0.5rem; */
		width: 75vw;
		height: 25rem;
		border-radius: 10px;
	}

	.data_div2 {
		/* margin: 0.7rem; */
		width: 75vw;
	}
	.data_div2 > h2 {
		font: 600 2rem sans-serif;
	}

	#data_contentID {
		font: 400 1.5rem sans-serif;
	}
}

@media screen and (max-width: 450px) {
	.data_div {
		width: 85vw;
		margin: 0.5rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.data_div1 {
		width: 85vw;
		height: 21rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.data_div1 > img {
		/* margin: 0.5rem; */
		width: 80vw;
		height: 20rem;
		border-radius: 10px;
	}

	.data_div2 {
		width: 75vw;
	}
	.data_div2 > h2 {
		font: 600 1.5rem sans-serif;
	}
	#data_contentID {
		font: 400 1rem sans-serif;
	}
}
